<app-header></app-header>
<div class="container-fluid px-5 py-5">
        <h1 class="container">
            <p class="container text-center d-block mx-auto">FAQs</p>
        </h1>
    <hr>
</div>
<div class="container-fluid text-center">
    <h1>1. suspendisse in est</h1>
    <ul style="list-style-type: none" class="p-0">
        <li>
            Volutpat odio facilisis mauris sit amet massa vitae. Cursus euismod quis viverra
            nibh
            cras pulvinar mattis.
        </li>
    </ul>
</div>
<div class="container-fluid text-center order-0">
    <h1>2. quam vulputate dignissim</h1>
    <ul style="list-style-type: none" class="p-0">
        <li>Nulla porttitor massa id neque aliquam vestibulum. </li>
    </ul>
</div>
<div class="container-fluid text-center">
    <h1>3. sed sed risus pretium</h1>
    <ul style="list-style-type: none" class="p-0">
        <li> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et
            dolore magna aliqua.</li>
    </ul>
</div>
<app-footer></app-footer>